pkgbase = openshift-codeready-bin
	pkgdesc = CodeReady tools for OpenShift (crc), binary release
	pkgver = 2.37.1
	pkgrel = 1
	url = https://www.okd.io/crc
	arch = x86_64
	license = Apache
	provides = crc
	conflicts = crc-bin
	options = !strip
	source = crc-v2.37.1-linux-amd64.tar.xz::https://developers.redhat.com/content-gateway/file/pub/openshift-v4/clients/crc/2.37.1/crc-linux-amd64.tar.xz
	sha256sums = 676642c76c5a9ec29407c0ab64a003fe697a7acbd72be3f727262e059b75bef8

pkgname = openshift-codeready-bin
