pkgbase = openshift-codeready-bin
	pkgdesc = CodeReady tools for OpenShift (crc), binary release
	pkgver = 2.40.0
	pkgrel = 1
	url = https://www.okd.io/crc
	arch = x86_64
	license = Apache
	provides = crc
	conflicts = crc-bin
	options = !strip
	source = crc-v2.40.0-linux-amd64.tar.xz::https://developers.redhat.com/content-gateway/file/pub/openshift-v4/clients/crc/2.40.0/crc-linux-amd64.tar.xz
	sha256sums = df0705123fb86f4a30d34b98830ef676597ef13dcc694b1df175163f8af89c2f

pkgname = openshift-codeready-bin
